html{
  color: #efefef;

  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: stretch;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  font-family:monospace;

  background-image: url("imgres/bg1.png");
}

label{
  padding-bottom: 20%;
}

textarea{
  width: 95%;
  height: 80vh;
}

.word{
  /*display: flex;*/
  max-width: 90vw;
  padding: 1%;
  position: relative;
  font-size: 2vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
  color: red; /* #fcc;*/
  font-family: "Sans";
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.midCont{
  
  margin-left: 5vw;
  margin-right: 5vw;
 
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 20vh;
  padding-top: 5vh;

  height: 2000vh;
  border-radius: 5vh;

  background-color: #22222248;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: stretch;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  backdrop-filter: blur(5px);
}

#_cloud{
  align-items: center;
  background-color: #30303f;
  color: #ccc;
}

#cloud{
  /*align-content:space-around;*/
}

#maincont{
  display: inline-block;
  max-width: 75%;
  overflow: wrap;
  margin: 5%;
}

/*The gap between the explanation in the wordcloud's container and the words.*/
#innerspan{
  height: 10vh;
  visibility:hidden;
}

#explan{
  margin-left: 5%;
}

#console{
  width: 100%;
  background-color: white;
  padding-left: 15%;
  padding: 5%;
}

#modalPop{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #181818;

  background-image: url("imgres/bg2org.png");
  height: 80vh;
}

#inModal{
  color: rgba(255, 255, 255, 1);/*0.9);*/
  background-color: #181818f0;
  padding: 5%;

  margin: 5%;
  height: 75vh;
  
  border-radius: 20pt;
}

.wordspan{
  padding-left: 5%;
  padding-right: 5%;
  overflow: wrap;

  display: inline-block;
}

/*This is the container for the wordcloud*/
.cloudcont{
  color: #ccc;

  border-radius: 3vh;
  border-style: block;

  overflow-wrap:normal;
  overflow:wrap;

  padding-left:   5%;
  padding-right:  5%;
  padding-bottom: 15%;
  padding-top: 2vh;

  display: inline-block;
  background-color: rgba(32,32,32,0.5);
  max-width: 95%;
}

.entry_uname{
  font-style: bold;
  font-size: 150%;
}

.padjump{
  margin-top: 15vh;
  margin-bottom: 15vh;
  opacity: 0;
}

.smolbreak{
  opacity: 0;
  height: 5%;
}

/*Links should just look like text IMO*/
a{
  color: #ccc;
  text-decoration: none;
}

li{
  color: #bbb;
  text-decoration: none;
  list-style-type: none;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     